name: Fetch Google CSV

on:
    schedule:
        - cron: '0 * * * *' # 每小时更新一次
    workflow_dispatch:

jobs:
    fetch:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Install Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18

            - run: npm install node-fetch

            - run: node scripts/fetch-csv.js

            - name: Commit changes
              run: |
                  git config --global user.name "github-actions"
                  git config --global user.email "actions@github.com"
                  git add .
                  git commit -m "auto update csv" || echo "no changes"
                  git push
